# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=pve3jpy2
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skeTOtN1A5pilpzHORpZDUACSXyR61THucIYTP56fqTvTfh03eJplcHh7igf9x7b9vW6cK9xnM3yOFwJfBgX0DOsFkxoYbXYxK2tB1njYmp6RavtErdDE6kCFS3BjFS2cCu0ZleglJbl3n6iWyDgqDYWMMtif0PPDk920TEKIzobL2rooWSz

# Optional: For preview mode
SANITY_PREVIEW_SECRET=your_preview_secret_here 

# Contentful CMS
CONTENTFUL_SPACE_ID=your_space_id_here
CONTENTFUL_ACCESS_TOKEN=your_access_token_here 